mixin tag(label, value)
  .control
    .tags.has-addons
      span.tag.is-dark= label
      span.tag= value

meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
title Chore List
link(rel='stylesheet', href='node_modules/bulma/css/bulma.min.css')
script(src='node_modules/@fortawesome/fontawesome-free/js/all.js')

section.section
  .container
    h1.title Chore List
    .field.is-grouped.is-grouped-multiline
      +tag('Person', config.person)
      +tag('Date', moment().format('LL'))
    for chore in config.chores
      .box
        .has-text-centered
          case chore.text.constructor
            when String
              span.is-size-4= chore.text
            when Array
              .columns
                for item in chore.text
                  .column
                    span.is-size-4= item
          .columns.is-multiline
            for i in Array(chore.amount)
              .column
                span.icon.is-large
                  i.fa-3x.far.fa-circle
